MONGODB_URI=
PORT=3000
SERVER_HOST=localhost
CORS_ORIGIN=http://localhost:5173
FRONTEND_URL=http://localhost:5173

MAIL_HOST=
EMAIL_PORT=
MAIL_USER=
MAIL_PASS=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=10d
